@charset "utf-8";

// colors
$light: #f2f2f2;
$dark: #5a5a5a;

// screen sizes
$sm: 600px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

// misc
$page-width: 960px;

html {
  scroll-behavior: smooth;
}

.content {
  margin: 0 auto;
  max-width: $page-width;
  padding-left: 1rem;
  padding-right: 1rem;
}

main {
  @extend .content;
}

body {
  background-color: rgba($light, 0.75);
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  align-content: center;

  &--persona {
    @extend .flex-container;
    @media only screen and (min-width: $md) {
      height: 100vh;
    }

    & > * {
      flex: 1 250px;
      margin: 0 10px;
    }

    img {
      @extend .shadow;
      transition: box-shadow 0.5s;

      &:hover {
        @extend .shadow-3xl;
      }
    }
  }

  &--profile {
    @extend .flex-container;
    align-items: stretch;

    & > * {
      background-color: white;
      height: 500px;
    }

    .left {
      flex: 2 250px;
    }

    .right {
      flex: 3 500px 500px;
      padding: 2rem;
      align-self: flex-start;
    }
  }

  &--justified {
    @extend .flex-container;
    justify-content: space-between;

    & > * {
      @media only screen and (max-width: $md) {
        flex: 1 400px;
        text-align: center;
      }
    }
  }
}

.shadow {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.shadow-lg {
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.shadow-2xl {
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}

.shadow-3xl {
  box-shadow: 0 30px 60px -15px rgba(0, 0, 0, 0.3);
}

.no-underline {
  text-decoration: none;
  box-shadow: none;
}

.border-radius {
  &--1 {
    border-radius: 15px 50px;
  }

  &--2 {
    border-radius: 50px;
  }

  &--3 {
    border-radius: 50px 15px;
  }
}

.persona {
  &--1 {
    @extend .border-radius--1;
  }

  &--2 {
    @extend .border-radius--2;
  }

  &--3 {
    @extend .border-radius--3;
  }
}

section {
  height: 100vh;
  padding: 2rem;
}

footer {
  @extend .content;
  text-transform: uppercase;
  font-family: 'Merriweather Sans';
  font-size: small;
  font-weight: 300;
  color: $dark;

  img {
    width: 25px;
    opacity: 0.5;
    padding: 3px;
  }
}

.card {
  @extend .shadow;

  .card-footer {
    padding: 0 2rem;

    a {
      text-transform: uppercase;
      float: right;
      font-family: 'Merriweather Sans';
      transition: text-decoration 0.5s;
    }
  }
}
